.app-header {
  button {
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;
    padding: 0 256px;
  }

  .links-toolbar > * {
    margin-right: 20px;
  }

  .links-toolbar > *:first-child {
    margin-right: 0;
  }

  .links-toolbar > button:nth-child(1),
  .links-toolbar > button:nth-child(2) {
    color: white;
  }

  img {
    vertical-align: middle;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #673ab7;
    color: #673ab7;
  }
}
