<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix *ngIf="iconePrefixo"> {{ iconePrefixo }} </mat-icon>
  <input
    type="text"
    matInput
    [placeholder]="placeholder"
    [formControl]="control"
    [matAutocomplete]="auto"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{ option.nome }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
